<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper"
	  data-namespace-typo3-fluid="true">
	  
<f:if condition="{media}">
	<!-- media files -->
	<f:if condition="{settings.topimage}">
		<f:then>
			<div class="news-img-wrap">	
				<f:for each="{media}" as="mediaElement" iteration="iteration">
					<f:if condition="{iteration.index} != 0">
						<div class="outer lightboxstyle-b">
							<f:if condition="{mediaElement.originalResource.type} == 2">
								<f:render partial="Detail/MediaImage" arguments="{mediaElement: mediaElement, settings:settings}"/>
							</f:if>
							<f:if condition="{mediaElement.originalResource.type} == 3">
								<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement, settings:settings}"/>
							</f:if>
							<f:if condition="{mediaElement.originalResource.type} == 4">
								<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement, settings:settings}"/>
							</f:if>
							<f:if condition="{mediaElement.originalResource.type} == 5">
								<f:render partial="Detail/MediaImage" arguments="{mediaElement: mediaElement, settings:settings}"/>
							</f:if>
						</div>	    				
					</f:if>
				</f:for>
			</div>	
		</f:then>
		<f:else>
			<div class="news-img-wrap v{settings.imagedesign}">	
				<f:for each="{media}" as="mediaElement">
					<div class="outer lightboxstyle-b">
						<f:if condition="{mediaElement.originalResource.type} == 2">
							<f:render partial="Detail/MediaImage" arguments="{mediaElement: mediaElement, settings:settings}"/>
						</f:if>
						<f:if condition="{mediaElement.originalResource.type} == 3">
							<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement, settings:settings}"/>
						</f:if>
						<f:if condition="{mediaElement.originalResource.type} == 4">
							<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement, settings:settings}"/>
						</f:if>
						<f:if condition="{mediaElement.originalResource.type} == 5">
							<f:render partial="Detail/MediaImage" arguments="{mediaElement: mediaElement, settings:settings}"/>
						</f:if>
					</div>	    				
				</f:for>
			</div>
		</f:else>		
	</f:if>
</f:if>
</html>


