<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper"
	  data-namespace-typo3-fluid="true">

<f:layout name="Detail" />

<!--
	=====================
		News/Detail.html
-->

	<f:section name="content">
		<f:render section="meta" arguments="{_all}" />	
		<f:render section="pagination" arguments="{_all}" />

		<f:if condition="{settings.topimage}">
         	<div class="topimage"> 		
   				<f:alias map="{mediaElement: '{newsItem.mediaPreviews.0}'}">
   					<f:if condition="{mediaElement.originalResource.type} == 2">
   							<f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>	
   					</f:if>
   					<f:if condition="{mediaElement.originalResource.type} == 4">
   						<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>				
   					</f:if>
   					<f:if condition="{mediaElement.originalResource.type} == 5">
   						<f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
   					</f:if>	
   					{f:if(condition: mediaElement.originalResource.title, then: '<i class="d-inline-block mb-1 mt-2 px-3">{mediaElement.originalResource.title}</i>')}
   					{f:if(condition: mediaElement.originalResource.description, then: '<i class="d-inline-block my-1 px-3">{mediaElement.originalResource.description}</i>')}	
   				</f:alias>	
			</div>
        </f:if>				
			
		<n:renderMedia news="{newsItem}" imgClass="img-responsive" videoClass="video-wrapper" audioClass="audio-wrapper">
			<div class="detailcontent p-3"> 				
				<f:if condition="{settings.itemdate}">
					<span class="detailDate d-inline-block my-1">
	      		<time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
				<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date> 
				<meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
	  			</time>
					</span>
	            </f:if>
	           	<f:if condition="{settings.itemcategory}">
	           		{f:if(condition: newsItem.firstCategory.title, then: '<span class="d-inline-block my-1">&ensp;|&ensp;{newsItem.firstCategory.title}</span>')}
	            </f:if>
	
	         	<h1 itemprop="headline">{newsItem.title}</h1>											
				<f:if condition="{newsItem.teaser}">
					<!-- teaser -->
					<div class="teaser-text" itemprop="description">
						<f:format.html>{newsItem.teaser}</f:format.html>
					</div>
				</f:if>
		
				<!-- main text -->
				<div class="news-text-wrap" itemprop="articleBody">
					<f:format.html>{newsItem.bodytext}</f:format.html>
				</div>
			
				<f:render partial="Detail/MediaContainer" arguments="{media: newsItem.mediaNonPreviews, settings:settings}" />
  
				<f:if condition="{newsItem.contentElements}">
					<!-- content elements -->
					<f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
				</f:if>
	
				<f:render section="social" arguments="{_all}" />
				<f:render section="related" arguments="{_all}" />
				<f:render section="back" arguments="{_all}" />
			</div>
		</n:renderMedia>
	</f:section>


	<f:section name="meta">
		<n:format.nothing>
			<n:excludeDisplayedNews newsItem="{newsItem}" />
			<f:if condition="{settings.detail.showMetaTags}">
				<f:render partial="Detail/Opengraph" arguments="{newsItem: newsItem, settings:settings}" />
			</f:if>
            <f:if condition="{newsItem.alternativeTitle}">
                <f:then>
                    <n:titleTag>
                        <f:format.htmlentitiesDecode>{newsItem.alternativeTitle}</f:format.htmlentitiesDecode>
                    </n:titleTag>
                </f:then>
                <f:else>
                    <n:titleTag>
                        <f:format.htmlentitiesDecode>{newsItem.title}</f:format.htmlentitiesDecode>
                    </n:titleTag>
                </f:else>
            </f:if>
		</n:format.nothing>
	</f:section>
	
	<f:section name="pagination">	
		<f:if condition="{settings.detail.showPrevNext}">
			<n:simplePrevNext pidList="{newsItem.pid}" news="{newsItem}" as="paginated" sortField="datetime">
				<f:if condition="{paginated}">
					<ul class="pager">
						<f:if condition="{paginated.prev}">
							<li class="previous">
								<n:link newsItem="{paginated.prev}" settings="{settings}">
									<span aria-hidden="true">&larr; </span>{paginated.prev.title}
								</n:link>
							</li>
						</f:if>
						<f:if condition="{paginated.next}">
							<li class="next">
								<n:link newsItem="{paginated.next}" settings="{settings}" class="next">
									{paginated.next.title} <span aria-hidden="true"> &rarr;</span>
								</n:link>
							</li>
						</f:if>
					</ul>
				</f:if>
			</n:simplePrevNext>
		</f:if>
	</f:section>	
	
	<f:section name="social">
		<f:if condition="{settings.detail.showSocialShareButtons}">
			<f:comment>
				Care about the privacy of your readers?
				Checkout https://typo3.org/extensions/repository/view/rx_shariff
				and it will be used automatically!
			</f:comment>
			<n:extensionLoaded extensionKey="rx_shariff">
				<f:render partial="Detail/Shariff" />
			</n:extensionLoaded>
		</f:if>
	</f:section>
	
	<f:section name="related">
		<!-- related things -->
		<div class="news-related-wrap">
			<f:comment>
				Various options exist to fetch different related information:
				- {newsItem.allRelatedSorted}: all related news, related und related from, sorted by date
				- {newsItem.related}: all related
				- {newsItem.relatedSorted}: all related, sorted by date
				- {newsItem.relatedFrom}: all related from
				- {newsItem.relatedFromSorted}: all related from, sorted by date
			</f:comment>
		
			<f:if condition="{newsItem.allRelatedSorted}">
				<!-- Related news records -->
				<div class="news-related news-related-news">
					<h4>
						<f:translate key="related-news" />
					</h4>
					<ul>
						<f:for each="{newsItem.allRelatedSorted}" as="related">
							<li>
								<span class="news-related-news-date"><f:format.date format="{f:translate(key:'dateFormat')}">{related.datetime}</f:format.date></span>
								<n:link newsItem="{related}" settings="{settings}" title="{related.title}">
									{related.title}
								</n:link>
							</li>
		
						</f:for>
					</ul>
				</div>
			</f:if>
		
			<f:if condition="{newsItem.relatedFiles}">
				<!-- related files -->
				<div class="news-related news-related-files">
					<h4>
						<f:translate key="related-files" />
					</h4>
					<ul>
						<f:for each="{newsItem.relatedFiles}" as="relatedFile">
							<li>
								<span class="news-related-files-link">
									<a href="{relatedFile.originalResource.publicUrl -> f:format.htmlspecialchars()}" target="_blank">
										{f:if(condition:relatedFile.originalResource.title, then:relatedFile.originalResource.title, else:relatedFile.originalResource.name)}
									</a>
								</span>
								<span class="news-related-files-size">
									{relatedFile.originalResource.size -> f:format.bytes()}
								</span>
							</li>
						</f:for>
					</ul>
				</div>
			</f:if>
		
			<f:if condition="{newsItem.relatedLinks}">
				<!-- Related links -->
				<div class="news-related news-related-links">
					<h4>
						<f:translate key="related-links" />
					</h4>
					<ul>
						<f:for each="{newsItem.relatedLinks}" as="relatedLink">
							<li>
								<f:link.typolink parameter="{relatedLink.uri}" title="{relatedLink.title}" target="{n:targetLink(link:relatedLink.uri)}">{f:if(condition: relatedLink.title, then: relatedLink.title, else: relatedLink.uri)}</f:link.typolink>
								<f:if condition="{relatedLink.description}"><span>{relatedLink.description}</span></f:if>
							</li>
						</f:for>
					</ul>
				</div>
			</f:if>
		</div>
	</f:section>
	
	
	<f:section name="back">
	   	 <!-- Link Back -->
	        <button type="button" class="btn btn-secondary"> 
	        	<f:if condition="{settings.backPid}">
	        		<f:then>
						<f:link.page pageUid="{settings.backPid}" ><f:translate key="back-link" /></f:link.page>   
					</f:then>
	        		<f:else>
	        			<a href="javascript:history.back()"><f:translate key="back-link" /></a>
	        		</f:else>
				</f:if>
			</button>
	</f:section>
</html>
