<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	  
    <f:layout name="General" />

    <f:section name="content">
    	<!--TYPO3SEARCH_end-->
    	<f:if condition="{news}">
    		<f:then>

    	       <f:if condition="{settings.templateLayout} == 1">  				
                    <div class="news-list normal">
                        <f:if condition="{settings.hidePagination}">
                            <f:then>
                               <f:for each="{news}" as="newsItem" iteration="iterator">
                                    <f:render partial="List/Standard" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </f:for>
                            </f:then>
                            <f:else>
		                        <f:if condition="{settings.list.paginate.insertAbove}">
                                    <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
		                        </f:if>
		                        <f:for each="{pagination.paginator.paginatedItems}" as="newsItem" iteration="iterator">
		                            <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
		                        </f:for>
		                        <f:if condition="{settings.list.paginate.insertBelow}">
		                            <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
		                        </f:if>
                            </f:else>
                        </f:if>
                    </div>		
    	       </f:if>
    
       	       <f:if condition="{settings.templateLayout} == 2">
                    <div class="news-list wide">
                        <f:if condition="{settings.hidePagination}">
                            <f:then>
                               <f:for each="{news}" as="newsItem" iteration="iterator">
                                    <f:render partial="List/Standard" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </f:for>
                            </f:then>
                            <f:else>
                                <f:if condition="{settings.list.paginate.insertAbove}">
                                    <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                                </f:if>
                                <f:for each="{pagination.paginator.paginatedItems}" as="newsItem" iteration="iterator">
                                        <f:render partial="List/Standard" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </f:for>
                                <f:if condition="{settings.list.paginate.insertBelow}">
                                    <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                                </f:if>
                            </f:else>
                        </f:if>
                    </div>   
    	       </f:if>
   
    	       <f:if condition="{settings.templateLayout} == 3">
                     <div class="news-list teaser">
                        <f:if condition="{settings.hidePagination}">
                            <f:then>
                               <f:for each="{news}" as="newsItem" iteration="iterator">
                                    <f:render partial="List/Teaser" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </f:for>
                            </f:then>
                            <f:else>
                                <f:if condition="{settings.list.paginate.insertAbove}">
                                    <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                                </f:if>
                                <f:for each="{pagination.paginator.paginatedItems}" as="newsItem" iteration="iterator">
                                        <f:render partial="List/Teaser" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </f:for>
                                <f:if condition="{settings.list.paginate.insertBelow}">
                                    <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                                </f:if>
                            </f:else>
                        </f:if>
                    </div>  
    	       </f:if>
    	       
    	       <f:if condition="{settings.templateLayout} == 4">
    				<div class="news-list calendar">
		    			<f:if condition="{settings.hidePagination}">
							<f:then>
		                       <f:for each="{news}" as="newsItem" iteration="iterator">
		                            <f:render partial="List/Calendar" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
		                        </f:for>
							</f:then>
							<f:else>
                                <f:if condition="{settings.list.paginate.insertAbove}">
                                    <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                                </f:if>
                                <f:for each="{pagination.paginator.paginatedItems}" as="newsItem" iteration="iterator">
                                        <f:render partial="List/Calendar" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </f:for>
                                <f:if condition="{settings.list.paginate.insertBelow}">
                                    <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                                </f:if>
							</f:else>
						</f:if>
    				</div>
    	       </f:if>

    	       
    	       <f:if condition="{settings.templateLayout} == 5">
	    	       <div class="news-list smallimage">
		    			<f:if condition="{settings.hidePagination}">
							<f:then>
								<f:for each="{news}" as="newsItem" iteration="iterator">
									<f:render partial="List/SmallImage" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
								</f:for>
							</f:then>
							<f:else>
                                <f:if condition="{settings.list.paginate.insertAbove}">
                                    <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                                </f:if>
                                <f:for each="{pagination.paginator.paginatedItems}" as="newsItem" iteration="iterator">
                                        <f:render partial="List/SmallImage" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </f:for>
                                <f:if condition="{settings.list.paginate.insertBelow}">
                                    <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                                </f:if>
							</f:else>
						</f:if>
					</div>
 				</f:if>   
 				
    	       <f:if condition="{settings.templateLayout} == 6">
	    	       <div class="news-list smallimage">
		    			<f:if condition="{settings.hidePagination}">
							<f:then>
								<f:for each="{news}" as="newsItem" iteration="iterator">
									<f:render partial="List/SmallImageNoDate" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
								</f:for>
							</f:then>
							<f:else>
                                <f:if condition="{settings.list.paginate.insertAbove}">
                                    <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                                </f:if>
                                <f:for each="{pagination.paginator.paginatedItems}" as="newsItem" iteration="iterator">
                                        <f:render partial="List/SmallImageNoDate" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </f:for>
                                <f:if condition="{settings.list.paginate.insertBelow}">
                                    <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                                </f:if>
							</f:else>
						</f:if>
					</div>
 				</f:if>  				
  				
 
 
 
                                
                <f:comment>Monitor</f:comment>
                
                <f:if condition="{settings.templateLayout} == 9">      
                    <div id="Monitor" class="t3upSlideshow w-100 slide {settings.animation} t3up_slider sliderstyle-{f:cObject(typoscriptObjectPath:'lib.bootstrapnewsslider')}">
                        <div id="slideshow{contentObjectData.uid}"  
                            class="t3up_slider carousel slide" 
                            data-ride="{f:if(condition:'{settings.autostart}',then: 'carousel')}" 
                            data-bs-ride="{f:if(condition:'{settings.autostart}',then: 'carousel')}"  
                            data-interval="{settings.carouselSpeed}"
                            style="max-height:100%; max-width:100%;">

                            <div    class="carousel-inner row w-100 mx-auto"  
                                    role="listbox"
                                    data-interval="{settings.carouselSpeed}">
                                    <f:for each="{news}" as="newsItem" iteration="iterator">
                                        <f:render partial="List/Monitor" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                    </f:for>
                            </div> 
 
                        </div>  
                    </div>   
                </f:if>
    	       	

 
                                
                <f:comment>Carousel 1 Element</f:comment>
                
                <f:if condition="{settings.templateLayout} == 30">      
               
                        <div id="slideshow{contentObjectData.uid}"  
                            class="t3up_slider w-100 oneItem carousel slide w-100 sliderstyle-{f:cObject(typoscriptObjectPath:'lib.bootstrapnewsslider')}" 
                            data-ride="{f:if(condition:'{settings.autostart}',then: 'carousel')}" 
                            data-bs-ride="{f:if(condition:'{settings.autostart}',then: 'carousel')}" 
                            data-interval="{settings.carouselSpeed}" 
                            max-width:{f:if(condition:'{settings.carouselwidth}',then:'{settings.carouselwidth}px;',else:'100%;')}">
                                
                        <!-- Indicators -->
                        <f:if condition="{settings.controlNav}">
                            <ol class="carousel-indicators">
                                <f:for each="{news}" as="helper" iteration="iteration">
                                    <li 
                                        data-target="#slideshow{contentObjectData.uid}" 
                                        data-bs-target="#slideshow{contentObjectData.uid}" 
                                        data-slide-to="{iteration.index}"  
                                        data-bs-slide-to="{iteration.index}"  
                                        class="{f:if(condition: '{iteration.isFirst}', then: 'active')}"   
                                        data-bs-touch="true">
                                    </li>           
                                </f:for>
                            </ol>   
                        </f:if>
        
                            <div class="carousel-inner row w-100 mx-auto" {f:if(condition:'{settings.carouselheight}',then: 'style="max-height: {settings.carouselheight}vh"')} role="listbox" data-interval="{settings.carouselSpeed}">
                                <f:for each="{news}" as="newsItem" iteration="iterator">
                                    <f:render partial="List/OneItem" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </f:for>
                            </div> 
                            
                             <!-- Left and right controls -->
                             <f:if condition="{settings.directionNav}">
                                <div class="direction"> 
                                    <a class="carousel-control-prev" href="#slideshow{contentObjectData.uid}" data-bs-target="#slideshow{contentObjectData.uid}" type="button" data-slide="prev"  data-bs-slide="prev">
                                      <span class="symbol prev chevron-left">&#xF104</span>
                                      <span class="sr-only visually-hidden">Previous</span>
                                     </a>
                                    <a class="carousel-control-next" href="#slideshow{contentObjectData.uid}" data-bs-target="#slideshow{contentObjectData.uid}" type="button" data-slide="next"  data-bs-slide="next">
                                      <span class="symbol next chevron-right">&#xF105</span>
                                      <span class="sr-only visually-hidden">Next</span>
                                    </a>
                                </div>  
                            </f:if> 
                             <!-- Left and right controls -- END -->
                        </div>  
                </f:if>
  
        	
    			<f:comment>Carousel 3 Elements</f:comment>
    	       	<f:if condition="{settings.templateLayout} == 31">  
    	       		<div class="t3up_slider w-100 sliderstyle-{f:cObject(typoscriptObjectPath:'lib.bootstrapnewsslider')}">
    	       			<f:if condition="{f:count(subject: news)} > 3">
	    	       			<f:then>
						   		<div id="slideshow{contentObjectData.uid}"  class="threeItems carousel slide" 
						   		data-ride="{f:if(condition:'{settings.autostart}',then: 'carousel')}" 
						   		data-bs-ride="{f:if(condition:'{settings.autostart}',then: 'carousel')}" 
						   		data-interval="{settings.carouselSpeed}"
								style="max-width:{f:if(condition:'{settings.carouselwidth}',then:'{settings.carouselwidth}px;',else:'100%;')}">
									
							 	<div class="carousel-inner"	 role="listbox">
	                               <f:for each="{news}" as="newsItem" iteration="iterator">
	                                    <f:render partial="List/ThreeItems" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
	                                </f:for>     
						        </div> 

	                             <!-- Left and right controls -->
	                             <f:if condition="{settings.directionNav}">
	                                <div class="direction"> 
	                                    <a class="carousel-control-prev" href="#slideshow{contentObjectData.uid}" data-bs-target="#slideshow{contentObjectData.uid}" type="button" data-slide="prev"  data-bs-slide="prev">
	                                      <span class="symbol prev chevron-left">&#xF104</span>
	                                      <span class="sr-only visually-hidden">Previous</span>
	                                     </a>
	                                    <a class="carousel-control-next" href="#slideshow{contentObjectData.uid}" data-bs-target="#slideshow{contentObjectData.uid}" type="button" data-slide="next"  data-bs-slide="next">
	                                      <span class="symbol next chevron-right">&#xF105</span>
	                                      <span class="sr-only visually-hidden">Next</span>
	                                    </a>
	                                </div>  
	                            </f:if> 
	                             <!-- Left and right controls -- END -->
  							
							    </div>
 							</f:then>
						    <f:else>
						   		<div id="c{contentObjectData.uid}" class="threeItemsSat" 
									style="max-height:{f:if(condition:'{settings.carouselheight}',then:'{settings.carouselheight}vh;',else:'100%;')} max-width:{f:if(condition:'{settings.carouselwidth}',then:'{settings.carouselwidth}px;',else:'100%;')}">
		
								 	<div class="carousel-inner row w-100 mx-auto align-items-stretch"  role="listbox" {f:if(condition:'{settings.carouselheight}',then:'style="max-height: {settings.carouselheight}vh"')}>
		                               <f:for each="{news}" as="newsItem" iteration="iterator">
		                                    <f:render partial="List/ThreeItemsStat" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
		                                </f:for>
							        </div> 
							        
						    </f:else>
					    </f:if>    
			   		</div>	 	 
    	       	</f:if>
 
 				
			<f:comment>Carousel 4 Elements</f:comment>
    	       	<f:if condition="{settings.templateLayout} == 32">     	       	
    	       		<div class="t3up_slider w-100 sliderstyle-{f:cObject(typoscriptObjectPath:'lib.bootstrapnewsslider')}">
    	       			<f:if condition="{f:count(subject: news)} > 4">
	    	       			<f:then>
						   		<div id="slideshow{contentObjectData.uid}"  class="fourItems carousel slide" 
                                data-ride="{f:if(condition:'{settings.autostart}',then: 'carousel')}" 
                                data-bs-ride="{f:if(condition:'{settings.autostart}',then: 'carousel')}" 
                                data-interval="{settings.carouselSpeed}"
                                style="max-width:{f:if(condition:'{settings.carouselwidth}',then:'{settings.carouselwidth}px;',else:'100%;')}">
									
							 	<div class="carousel-inner"	 role="listbox">
	                               <f:for each="{news}" as="newsItem" iteration="iterator">
	                                    <f:render partial="List/FourItems" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
	                                </f:for>     
						        </div> 

	                             <!-- Left and right controls -->
	                             <f:if condition="{settings.directionNav}">
	                                <div class="direction"> 
	                                    <a class="carousel-control-prev" href="#slideshow{contentObjectData.uid}" data-bs-target="#slideshow{contentObjectData.uid}" type="button" data-slide="prev"  data-bs-slide="prev">
	                                      <span class="symbol prev chevron-left">&#xF104</span>
	                                      <span class="sr-only visually-hidden">Previous</span>
	                                     </a>
	                                    <a class="carousel-control-next" href="#slideshow{contentObjectData.uid}" data-bs-target="#slideshow{contentObjectData.uid}" type="button" data-slide="next"  data-bs-slide="next">
	                                      <span class="symbol next chevron-right">&#xF105</span>
	                                      <span class="sr-only visually-hidden">Next</span>
	                                    </a>
	                                </div>  
	                            </f:if> 
	                             <!-- Left and right controls -- END -->
  							
							    </div>
 							</f:then>
						    <f:else>
						   		<div id="slideshow{contentObjectData.uid}" 
									style="max-height:{f:if(condition:'{settings.carouselheight}',then:'{settings.carouselheight}vh;',else:'100%;')}
									max-width:{f:if(condition:'{settings.carouselwidth}',then:'{settings.carouselwidth}px;',else:'100%;')}">
		
								 	<div class="carousel-inner row w-100 mx-auto align-items-stretch"  role="listbox" {f:if(condition:'{settings.carouselheight}',then:'style="max-height: {settings.carouselheight}vh"')}>
			                               <f:for each="{news}" as="newsItem" iteration="iterator">
			                                    <f:render partial="List/FourItemStats" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
			                                </f:for>
							        </div> 
							        
						    </f:else>
					    </f:if>    
			   		</div>	 	 
    	       	</f:if>
    	       	
 				<f:comment>3 Items Flex </f:comment>
  				
    	        <f:if condition="{settings.templateLayout} == 33">
	    	       <div class="news-list threeItemsStat w-100">
						<f:if condition="{settings.hidePagination}">
							<f:then>
								<f:for each="{news}" as="newsItem" iteration="iterator">
								    <f:if condition="{iterator.isFirst}">
								        <div class="d-flex">
								    </f:if>
								
								    <f:if condition="{iterator.cycle} % 3">
								        <f:then>
								            <f:render partial="List/ThreeItemsStat" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
								        </f:then>
								
								        <f:else>
								            <f:render partial="List/ThreeItemsStat" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
								
								            <f:if condition="{iterator.isLast}">
								                <f:then></f:then>
								                <f:else>
								                    </div><div class="d-flex">
								                </f:else>
								            </f:if>
								        </f:else>
								    </f:if>
								
								    <f:if condition="{iterator.isLast}">
								        </div>
								    </f:if>
								</f:for>

							</f:then>
							<f:else>
									<p>No template for "3 Items" + pagination is available</p>
							</f:else>
						</f:if>
					</div>
 				</f:if>  
  				
  				<f:comment>4 Items Flex </f:comment>
  				
    	        <f:if condition="{settings.templateLayout} == 34">
	    	       <div class="news-list fourItemsStat w-100">
		    			<f:if condition="{settings.hidePagination}">
							<f:then>
								<f:for each="{news}" as="newsItem" iteration="iterator">
								    <f:if condition="{iterator.isFirst}">
								        <div class="d-flex">
								    </f:if>
								
								    <f:if condition="{iterator.cycle} % 4">
								        <f:then>
								            <f:render partial="List/FourItemsStat" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
								        </f:then>
								
								        <f:else>
								            <f:render partial="List/FourItemsStat" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
								
								            <f:if condition="{iterator.isLast}">
								                <f:then></f:then>
								                <f:else>
								                    </div><div class="d-flex">
								                </f:else>
								            </f:if>
								        </f:else>
								    </f:if>
								
								    <f:if condition="{iterator.isLast}">
								        </div>
								    </f:if>
								</f:for>

							</f:then>
							<f:else>
									<p>No template for "4 Items" + pagination is available</p>
							</f:else>
						</f:if>
					</div>
 				</f:if>  


    		</f:then>
    		<f:else>
    			<div class="no-news-found">
    				<f:translate key="list_nonewsfound" />
    			</div>
    		</f:else>
    	</f:if>
    	<!--TYPO3SEARCH_begin-->
    </f:section>
</html>