<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">  
						
		<td class="day{f:format.date(date: day.ts, format: 'N')} {f:if(condition: day.curmonth, then: 'curmonth', else: 'othermonth')}{f:if(condition: day.news, then: ' hasevents')}{f:if(condition: day.curday, then: ' today')}">
            <f:if condition="{day.dayBelongsToCurrentMonth}">
                <f:if condition="{day.news}">
                    <f:then>

                        <f:for each="{day.news}" as="newsItem">
                            <span class="{newsItem.categories.0.title}"><n:link newsItem="{newsItem}" settings="{settings}">{newsItem.title}</n:link></span>
                        </f:for>

                        <strong>
                            <f:link.action action="month"  pageUid="{settings.listPid}" addQueryString="1" additionalParams="{tx_news_pi1:{overwriteDemand:{year:day.year,month:day.month,day:day.day}}}">{day.day}</f:link.action>
                        </strong>
                        
                    </f:then>
                    <f:else>
                        {day.day}
                    </f:else>
                </f:if>
            </f:if>
        </td>
</html>