<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	  
	<div class="col-md-12" style="border: 1px solid #ccc;">
		<strong>
			<n:link newsItem="{n}" settings="{settings}">{n.title}</n:link>
			| {f:format.date(date:n.datetime.date,format:'%d.%m')}</strong>
		<ul>
			<f:if condition="{n.organizer}">
				<li><strong>
					<f:translate key="organizer" extensionName="eventnews" />
				</strong>: {n.organizer.title}
					<small>(uid: {n.organizer.uid})</small>
				</li>
			</f:if>
			<f:if condition="{n.location}">
				<li><strong>
					<f:translate key="location" extensionName="eventnews" />
				</strong>: {n.location.title}
					<small>(uid: {n.location.uid})</small>
				</li>
			</f:if>
			<f:if condition="{n.eventEnd}">
				<li>
					<strong>
						<f:translate key="event_end" extensionName="eventnews" />
					</strong>: {f:format.date(date:n.eventEnd.date,format:'%d.%m.%Y')}
				</li>
			</f:if>
		</ul>
	</div>


    </div>
</html>