<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="picture">   
	    <picture>
	    
              
            <source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '2560', fileExtension: 'webp')}" media="(min-width: 1601px)" type="image/webp">
            <source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '2560', fileExtension: 'jpeg')}" media="(min-width: 1601px)" type="image/jpeg">
         
	        <source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '1600', fileExtension: 'webp')}" media="(min-width: 1334px)" type="image/webp">
	        <source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '1600', fileExtension: 'jpeg')}" media="(min-width: 1334px)" type="image/jpeg">
	
	        <source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '1333', fileExtension: 'webp')}" media="(min-width: 1001px)" type="image/webp">
	        <source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '1333', fileExtension: 'jpeg')}" media="(min-width: 1001px)" type="image/jpeg">     
	
	        <source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '1000', fileExtension: 'webp')}" media="(min-width: 801px)"  type="image/webp">
	        <source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '1000', fileExtension: 'jpeg')}" media="(min-width: 801px)"  type="image/jpeg">
	
	        <source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '800',  fileExtension: 'webp')}" media="(min-width: 601px)"  type="image/webp">
	        <source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '800',  fileExtension: 'jpeg')}" media="(min-width: 601px)"  type="image/jpeg">
	
	        <source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '600',  fileExtension: 'webp')}" media="(min-width: 481px)"  type="image/webp">    
	        <source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '600',  fileExtension: 'jpeg')}" media="(min-width: 481px)"  type="image/jpeg">    
	
	        <source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '480',  fileExtension: 'webp')}" media="(min-width: 321px)"  type="image/webp">         
	        <source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '480',  fileExtension: 'jpeg')}" media="(min-width: 321px)"  type="image/jpeg">         
	
	        <source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '320',  fileExtension: 'webp')}" media="(min-width: 241px)"  type="image/webp">
	        <source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '320',  fileExtension: 'jpeg')}" media="(min-width: 241px)"  type="image/jpeg">
	
	        <source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '240',  fileExtension: 'webp')}" media="(min-width: 161px)"  type="image/webp">
	        <source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '240',  fileExtension: 'jpeg')}" media="(min-width: 161px)"  type="image/jpeg">
	
	    	<source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '160',  fileExtension: 'webp')}" media="(min-width: 121px)"  type="image/webp">
	    	<source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '160',  fileExtension: 'jpeg')}" media="(min-width: 121px)"  type="image/jpeg">
	
	    	<source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '120',  fileExtension: 'webp')}" media="(min-width: 81px)"  type="image/webp">
	    	<source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '120',  fileExtension: 'jpeg')}" media="(min-width: 81px)"  type="image/jpeg">
	
	        <source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '80',   fileExtension: 'webp')}" type="image/webp">
	        <source srcset="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', maxWidth: '80',   fileExtension: 'jpeg')}" type="image/jpeg">
	

             <img 
             src="{f:uri.image(src:'{mediaElement.originalResource.uid}', treatIdAsReference:'1', cropVariant: 'default', width: 2560}"
             {f:if(condition: '{mediaElement.originalResource.title}', then: 'title="{mediaElement.originalResource.title}"')}
             {f:if(condition: '{mediaElement.originalResource.alternative}', then: 'alt="{mediaElement.originalResource.alternative}"')}  
			 />
             
		</picture>
 	</f:section>
</html>
