
.frame-default .news  .article                                   {background-color: $bodyBgColor;}  

.news {

  .btn-secondary a                                          	 {color: #fff !important;}   
  .teasertext p                                             	 {margin-bottom: 0;}
  .article a p                                              	 {font-weight: normal;} 
  
  .article                                                       {position: relative;}  
  
  .article .moreNews                                             {height: 0px; float: left; color: transparent;}
  .article .moreNews:after                                       {transition: all ease 0.25s; position: absolute; bottom: 0; right: 0; content: '+'; text-align: center; width: 24px; height: 24px;color: #fff; background: #aaa;}
  .article:hover .moreNews:after                                 {background: #666;}
  
  /* Single  **************************************************/  
  &.news-detail .news-img-wrap                                   {line-height:0;  -webkit-column-count:1; column-count:1; -moz-column-count:1;}
  
  &.news-detail .news-img-wrap .outer .mediaelement              {width: 100%; height: 100%; overflow: hidden; position: relative;}
  &.news-detail .news-img-wrap .outer .mediaelement img          {width: 100% !important; height: auto !important; object-fit: cover; object-position: 50% 50%; transition:.5s ease-in-out;}

  &.news-detail .topimage                                        {overflow: hidden; min-height: 1rem;}
  &.news-detail .topimage img                                    {width: 100%; height: 100%; object-fit: cover; object-position: center 0;}   

  /* List *****************************************************/

  &.bigimage {                                                
    .article                                                      {transition: all ease .3s; position: relative; margin-bottom: .75rem; }
    .newsimage                                                    {overflow: hidden; }
    .newsimage img                                                {width: 100%; height: 100%; object-fit: cover; object-position: center 0;}
    .teasertext                                                   {padding: .75rem;}                                              
  }
  
  &.smallimage {                                                
    .article                                                      {transition: all ease .3s; position: relative; margin-bottom: .75rem; }
    .image                                                        {overflow: hidden; min-height: 1rem;}
    .image img                                                    {width: 100%; height: 100%; object-fit: cover; object-position: center 0;}   
    .teasertext                                                   {padding: .75rem;}
                                                       
  }

  &.calendar {                                                
    .article                                                      {transition: all ease .3s; position: relative; margin-bottom: 0.75rem; border-bottom: 1px solid #dadada;}
    .teasertext                                                   {padding: 1rem; overflow: hidden;}
    .caldate                                                      {transition: all ease .3s;text-align: center; border-right: 1px solid #ccc; text-transform: uppercase;}
    .caldate a                                                    {color: #454545; line-height: 1.5rem; } 
    .caldate:hover                                                {background-color: rgba(0,0,0,.1);}    
    .caldate span                                                 {display: block; width: 100%;} 
    .dayNumber                                                    {font-size: 150%; font-weight: bold;}
                                                            
  }

  &.teaser {                                                
    .article                                                      {transition: all ease .3s; position: relative; margin-bottom: .75rem;  border-bottom: 1px solid #dadada;}
    .teasertext                                                   {padding: .75rem;}                                                     
  }

  /* 2 / 3 / 4 Items statisch  */
  &.twoItemsStat,  
  &.threeItemsStat,
  &.fourItemsStat                                                   {margin: 0 -.75rem;}   
  
  &.twoItemsStat   > div > div,  
  &.threeItemsStat > div > div,
  &.fourItemsStat  > div > div                                      {padding: 0 .75rem; padding-bottom: .75rem;}    
     
  &.twoItemsStat   > div,     
  &.threeItemsStat > div,
  &.fourItemsStat  > div                                            {order: 1; display: flex; flex-wrap: wrap; flex-direction: row; max-width: 100%; align-items: stretch;}  
  
  &.twoItemStat    > div .article,   
  &.threeItemsStat > div .article, 
  &.fourItemsStat  > div .article                                   {flex-grow: 2; width: 100%;  transition: all ease .3s; }
  
  &.twoItemsStat .article picture                                   {max-height: 200px; display: flex;  justify-content: center; align-items: center; overflow: hidden;}   
  &.twoItemsStat .article img                                       {min-height: 200px; width: 100%; height: auto; object-fit: cover;}    
     
  &.threeItemsStat .article picture                                 {max-height: 200px; display: flex;  justify-content: center; align-items: center; overflow: hidden;}   
  &.threeItemsStat .article img                                     {min-height: 200px; width: 100%; height: auto; object-fit: cover;}     
     
  &.fourItemsStat .article picture                                  {max-height: 200px; display: flex;  justify-content: center; align-items: center; overflow: hidden;}   
  &.fourItemsStat .article img                                      {min-height: 200px; width: 100%; height: auto; object-fit: cover;}
         
  &.bigimage.twoItemsStat .article picture                          {max-height: 200px; display: flex;  justify-content: center; align-items: start; overflow: hidden;}   
  &.bigimage.threeItemsStat .article picture                        {max-height: 200px; display: flex;  justify-content: center; align-items: start; overflow: hidden;}   
  &.bigimage.FourItemsStat .article picture                         {max-height: 200px; display: flex;  justify-content: center; align-items: start; overflow: hidden;}   
    
  .threeItems .newsimage                                            {overflow: hidden; max-height: 12.5rem;}      
  .fourItems  .newsimage                                            {overflow: hidden; max-height: 10rem;}      

  .threeItems .newsimage img,
  .fourItems  .newsimage img                                        {width: 100%; height: 100%; object-fit: cover; object-position: center 0;}      
  
  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev                               {display: flex;}

}

@media (min-width: 768px) {
	.news {
	      
	    /* Items static  */
	    &.twoItemsStat  > div > div,      
	    &.threeItemsStat  > div > div,
	    &.fourItemsStat  > div > div                                {overflow: hidden}

	    &.twoItemsStat > div .article:hover,  
  		&.threeItemsStat > div .article:hover, 
  		&.fourItemsStat  > div .article:hover,
	    &.calendar .article:hover,      
		&.teaser .article:hover,
		&.smallimage .article:hover,
		&.bigimage .article:hover                                   {box-shadow: $shadow;}
		
		&.news-detail .news-img-wrap                                {line-height:0;  -webkit-column-count:2; column-count:2; -moz-column-count:2;  -webkit-column-gap: .75rem; -moz-column-gap: .75rem; column-gap: .75rem;}
		&.news-detail .news-img-wrap .mediaelement-image:hover img  {transform: scale(1.1);}
	}

  .threeItems .carousel-inner .carousel-item-end.active,
  .threeItems .carousel-inner .carousel-item-next                   {transform: translateX(33.33%);}

  .fourItems .carousel-inner .carousel-item-end.active,
  .fourItems .carousel-inner .carousel-item-next                    {transform: translateX(25%);}
    
  .threeItems .carousel-inner .carousel-item-start.active, 
  .threeItems .carousel-inner .carousel-item-prev                   {transform: translateX(-33.33%);}  
  
  .fourItems .carousel-inner .carousel-item-start.active, 
  .fourItems .carousel-inner .carousel-item-prev                    {transform: translateX(-25%);}
      
}


 .fourItems  .carousel-inner .carousel-item-end,
 .fourItems  .carousel-inner .carousel-item-start                   {transform: translateX(0);}
 
 .threeItems .carousel-inner .carousel-item-end,
 .threeItems .carousel-inner .carousel-item-start                   {transform: translateX(0);}
 
 
/*  *********************************************************************************************************************/
  
main {
	.frame-white {
    	.article                                            	    {background: #fff; } 
	}
	.frame-line {
    	.article                                            	    {background: #fff; border: 1px solid rgba(0,0,0, .33) !important;} 
	}
	.frame-colored {
		.news {
  			&.calendar {
    	        .article                                            {background: #fff;} 	
				.caldate 										    {background-color: rgba(desaturate(lighten($baseColor, 50%),50%),.75);}
			} 
		}
	}
}




























