  /* Single *********************************************/


.news-single {                                              padding-top: 1rem; padding-bottom: 1rem;
   .news-list-date                                          {margin: 0; } 
   .innerImage.float-left                                   {margin-right: 1rem;}
   .news-related-wrap                                       {border-top: 1px solid #dadada; padding-top: .5rem;}
 }  
 
.news {
   
  .moreNews                                                 {height: 0px; float: left; } 
  .btn-secondary a                                          {color: #fff !important;}   
  .teasertext p                                             {margin-bottom: 0;}

  /* List **************************************************/
  /* Standard list */ 
  .news-list.normal {                                                
    .newsimage img                                          {width: 100%; height: auto;}
    .article                                                {background: #fff; transition: all ease .3s; margin-bottom: 1rem;} 
    .article:last-of-type                                   {margin-bottom: 0;}     
    .article:hover                                          {box-shadow: 0 3px 5px 5px rgba(0,0,0,.1)}
    .article .teasertext                                    {padding: 10px 15px 5px 15px;}
  }


  .news-list.wide{                                          width: 100%; display: flex; align-items: stretch !important; flex-wrap: wrap;
    .article                                                {position: relative;margin-bottom: 15px; background: #fff; transition: all ease .3s; } 
 
    .article:nth-of-type(28),   
    .article:nth-of-type(25),
    .article:nth-of-type(22),   
    .article:nth-of-type(19),
    .article:nth-of-type(16),   
    .article:nth-of-type(13),
    .article:nth-of-type(10),   
    .article:nth-of-type(7),
    .article:nth-of-type(4), 
    .article:first-of-type                                  {margin-left: 0px; }
    
    .article:nth-of-type(27),
    .article:nth-of-type(24),   
    .article:nth-of-type(21),   
    .article:nth-of-type(18),   
    .article:nth-of-type(15),   
    .article:nth-of-type(12),   
    .article:nth-of-type(9),   
    .article:nth-of-type(6),
    .article:nth-of-type(3), 
    .article:last-of-type                                   {margin-right: 0px; }
    
    .article:hover                                          {box-shadow: 0 0 5px 5px rgba(0,0,0,.1)}
    .article .teasertext                                    {padding: 10px 15px 5px 15px;}

    .moreNews:after                                         {transition: all ease 0.25s; position: absolute; bottom: 0; right: 0; content: '+';
                                                            text-align: center; width: 24px; height: 24px;color: #fff; background: #aaa;}
    .article:hover .moreNews:after                          {background: #666;}
    
  }

  .teaser {                                                
    .article                                                      {transition: all ease .3s; position: relative; margin-bottom: .5rem; background-color: rgba(255,255,255,.95); border-bottom: 1px solid #dadada;}
    .article:hover                                                {background: #fff;box-shadow: 0 2px 10px 0px rgba(0,0,0,.1)}
    .teasertext                                                   {padding: 1rem;}
    
    .moreNews:after                                               {transition: all ease 0.25s; position: absolute; bottom: 0; right: 0; content: '+';
                                                                  text-align: center; width: 24px; height: 24px;color: #fff; background: #aaa;}
    .article:hover .moreNews:after                                {background: #666;}
    
                                                            
  }
  
  .standard {                                                
    .article                                                      {transition: all ease .3s; position: relative; margin-bottom: 0.5rem; background-color: rgba(255,255,255,.95); border-bottom: 1px solid #dadada;}
    .article:hover                                                {background: #fff;box-shadow: 0 2px 10px 0px rgba(0,0,0,.1)}
    .teasertext                                                   {padding: 1rem;}
    .moreNews:after                                               {transition: all ease 0.25s; position: absolute; bottom: 0; right: 0; content: '+';
                                                                  text-align: center; width: 24px; height: 24px;color: #fff; background: #aaa;}
    .article:hover .moreNews:after                                {background: #666;}

                                                            
  }

  .calendar {                                                
    .article                                                      {transition: all ease .3s; position: relative; margin-bottom: 0.5rem; background-color: rgba(255,255,255,.95); border-bottom: 1px solid #dadada;}
    .article:hover                                                {background: #fff; box-shadow: 0 2px 10px 0px rgba(0,0,0,.1)}
    .teasertext                                                   {padding: 1rem; overflow: hidden;}
    .moreNews:after                                               {transition: all ease 0.25s; position: absolute; bottom: 0; right: 0; content: '+';
                                                                  text-align: center; width: 24px; height: 24px;color: #fff; background: #aaa;}
    .article:hover .moreNews:after                                {background: #666;}
    .caldate                                                      {transition: all ease .3s;text-align: center; border-right: 1px solid #ccc; text-transform: uppercase;}
    .caldate a                                                    {color: #454545; line-height: 1.5rem; } 
    .caldate:hover                                                {background-color: rgba(0,0,0,.1);}    
    .caldate span                                                 {display: block; width: 100%;} 
    .dayNumber                                                    {font-size: 150%; font-weight: bold;}
                                                            
  }

  /* Small Image */
   .smallimage {
    .article                                                      {padding: 1rem; transition: all ease .3s; position: relative; margin-bottom: 0.5rem; background-color: rgba(255,255,255,.95); border-bottom: 1px solid #dadada;}
    .article:hover                                                {background: #fff;box-shadow: 0 2px 10px 0px rgba(0,0,0,.1)}
    .teasertext                                                   {padding:  0 0 0 1rem;}
    .moreNews:after                                               {transition: all ease 0.25s; position: absolute; bottom: 0; right: 0; content: '+';
                                                                  text-align: center; width: 24px; height: 24px;color: #fff; background: #aaa;}
    .article:hover .moreNews:after                                {background: #666;}
      .newsimage                                                  {max-height: 10rem; margin-left: -1px; padding: 0; overflow: hidden; height: auto;}
      img                                                         {max-width: inherit; height: auto;}
    }
   
   
  /* 1 Item dynamic */  
  .oneItem h3                                                      {font-size: $sliderheaderfontsize;}
  .oneItem p                                                       {font-size: $sliderfontsize;}
   
  /* 3 / 4 Items dynamic */ 
 .threeItems .carousel-item .article-inner,
 .fourItems  .carousel-item .article-inner                         {background-color: #fff;}  
 
 /* 3 / 4 Items statisch  */  
 .threeItemsStat > div > div,
 .fourItemsStat  > div > div                                       {padding: 0 .33rem; padding-bottom: 1rem;}    
     
 .threeItemsStat > div,
 .fourItemsStat  > div                                             {order: 1; display: flex; flex-wrap: wrap; flex-direction: row; max-width: 100%; align-items: stretch;}  
 
 .threeItemsStat > div .article, 
 .fourItemsStat  > div .article                                    {position: relative; flex-grow: 2; width: 100%; background-color: #fff;   border: 1px solid #afafaf;    transition: all ease .3s; }
 
 .threeItemsStat > div .article:hover, 
 .fourItemsStat  > div .article:hover                              {box-shadow: $shadow;}
     
  .threeItemsStat .article picture                                 {max-height: 200px; display: flex;  justify-content: center; align-items: center; overflow: hidden;}   
  .threeItemsStat .article img                                     {min-height: 200px; width: 100%; height: auto; object-fit: cover;}     
     
  .fourItemsStat .article picture                                  {max-height: 200px; display: flex;  justify-content: center; align-items: center; overflow: hidden;}   
  .fourItemsStat .article img                                      {min-height: 200px; width: 100%; height: auto; object-fit: cover;}
        
  .carousel-item .article-inner                                    {display: block; position: relative; margin-right: .5rem; margin-left: .5rem; height: 460px;  border: 1px solid #afafaf;  transition: all ease .3s; }
  .carousel-item .article-inner:hover                              {box-shadow: $shadow;}
  .carousel-item .article-inner picture                            {max-height: 200px; display: flex;  justify-content: center; align-items: center; overflow: hidden;}   
  .carousel-item .article-inner img                                {min-height: 200px; width: 100%; height: auto; object-fit: cover;}
 
     
  .threeItems      .article p.nomore, 
  .fourItems       .article p.nomore                               {width: 100%; border-top: 1px solid #afafaf; padding:1rem; position: absolute; bottom: 0;}    
  .threeItemsStat  .article p.nomore,    
  .fourItemsStat   .article p.nomore                               {width: 100%; border-top: 1px solid #afafaf; padding-top:.33rem; position: absolute; bottom: 0;}  
    
}

@media (max-width: 767px) {
    
      .carousel-inner .carousel-item > div                         {display: none; padding: 0 .5rem}
      .carousel-inner .carousel-item > div:first-child             {display: block;}  

}

@media (min-width: 768px) {

      /* 3 / 4 Items dynamic */
      
      .threeItems .carousel-inner .carousel-item-end.active,
      .threeItems .carousel-inner .carousel-item-next              {transform: translateX(33.3333%);}
    
      .fourItems .carousel-inner .carousel-item-end.active,
      .fourItems .carousel-inner .carousel-item-next               {transform: translateX(25%);}
        
      .threeItems .carousel-inner .carousel-item-start.active, 
      .threeItems .carousel-inner .carousel-item-prev              {transform: translateX(-33.3333%);}  
      
      .fourItems .carousel-inner .carousel-item-start.active, 
      .fourItems .carousel-inner .carousel-item-prev               {transform: translateX(-25%);}
      
   
       /* 3 / 4 Items static  */
      .threeItemsStat  > div > div                                 {padding-right: .5rem; padding-left: .5rem; overflow: hidden}
      .threeItemsStat  > div > div:first-of-type                   {padding-right: .5rem; padding-left: 0rem;}
      .threeItemsStat  > div > div:last-of-type                    {padding-right: 0; padding-left: .5rem;}
      

      .fourItemsStat  > div > div                                  {padding-right: .5rem; padding-left: .5rem; overflow: hidden}
      .fourItemsStat  > div > div:first-of-type                    {padding-right: .5rem; padding-left: 0rem;}
      .fourItemsStat  > div > div:last-of-type                     {padding-right: 0; padding-left: .5rem;}  

}

@media (min-width: 992px) {

      /* 1 Item dynamic */  
     .oneItem h3                                                   {font-size: $sliderheaderDesktopfontsize;}

}


 .fourItems  .carousel-inner .carousel-item-end,
 .fourItems  .carousel-inner .carousel-item-start                  {transform: translateX(0);}
 
 .threeItems .carousel-inner .carousel-item-end,
 .threeItems .carousel-inner .carousel-item-start                  {transform: translateX(0);}
 
 .carousel-inner .carousel-item.active,
 .carousel-inner .carousel-item-next,
 .carousel-inner .carousel-item-prev                               {display: flex;}
 


           






