<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	 
	 <div class="carousel-item  imageformat{settings.imageformat} {f:if(condition: '{iterator.isFirst}', then: ' active')}" data-bs-interval="{settings.carouselSpeed}"}>
		<n:excludeDisplayedNews newsItem="{newsItem}"/>

		<f:if condition="{settings.carouseloverlaycolor}">
			<div class="overlayslider" style="{f:if(condition:'{settings.carouseloverlaycolor}',then:'background-color: {settings.carouseloverlaycolor};')}"></div>
		</f:if>

		<f:alias map="{mediaElement: '{newsItem.mediaPreviews.0}'}">
			<f:if condition="{mediaElement.originalResource.type} == 2">
				 <n:link class="w-100" newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
					<f:render partial="Rendering/Image" section="picture" arguments="{_all}"/> 
				</n:link>
			</f:if>	
		</f:alias> 		
		
		 <f:if condition="{settings.head} > 0">
			<div class="carousel-caption stil{settings.style}" style="color: {settings.captioncolor}; text-align: {settings.textalignment}; background-color: {settings.captionbackgroundcolor}{settings.captionopacity}{settings.captionopacity}">
				<n:link style="color: {settings.captioncolor}" newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
					<span class="h3 m-0 d-block">{newsItem.title}</span>
					<f:if condition="{settings.head} > 1">
						  <span class="p d-none d-md-inline-block">
							  {newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.htmlentitiesDecode()}
						  </span> 
						</f:if>	
				 </n:link>	
			 </div> 
		 </f:if>  
	</div>
</html>