<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	  
	  
    <div class="article row mx-0 articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">
	<n:excludeDisplayedNews newsItem="{newsItem}"/>

        <div class="newsimage col-6 col-sm-4 col-md-3">
        	<f:if condition="{newsItem.mediaPreviews}">
        		<f:then>
        			<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
        				<f:alias map="{mediaElement: '{newsItem.mediaPreviews.0}'}">
        					<f:if condition="{mediaElement.originalResource.type} == 2">
        							<f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>	
        					</f:if>
        					<f:if condition="{mediaElement.originalResource.type} == 4">
        						<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>				
        					</f:if>
        					<f:if condition="{mediaElement.originalResource.type} == 5">
        						<f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
        					</f:if>			
        				</f:alias>
        			</n:link>
        		</f:then>
				<f:else>
					<f:if condition="{settings.displayDummyIfNoMedia}">
						<div class="news-img-wrap">
							<span class="no-media-element">
								<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
									<f:image src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
								</n:link>
							</span>
						</div>
					</f:if>
				</f:else>
  			</f:if>
        </div>

    	<div class="teasertext col-6 col-sm-8 col-md-9">
    		<h4>
    			<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
    			{newsItem.title}
    			</n:link>
    		</h4>
    		<n:removeMediaTags>
    		
    		<f:if condition="{newsItem.teaser}">		
    			<f:then>
                    <div itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
                </f:then>
                <f:else>
                    <div itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
                </f:else>
            </f:if>
            
    		</n:removeMediaTags>
    		
    		<n:link newsItem="{newsItem}" settings="{settings}" class="moreNews" title="{newsItem.title}">&nbsp;</n:link>
    	</div>
    </div>
</html>