<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	  

    <div class="article d-flex align-items-stretch articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">
	<n:excludeDisplayedNews newsItem="{newsItem}"/>

		
        	<f:if condition="{newsItem.mediaPreviews}">
        		<f:then>
	            <div {f:if(condition: settings.media.maxWidth, then: 'class="imageorg d-flex justify-content-center align-items-center col-4"', else: 'class="image col-4"')}> 		
	       			<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
	       				<f:alias map="{mediaElement: '{newsItem.mediaPreviews.0}'}">
	       					<f:if condition="{mediaElement.originalResource.type} == 2">
	       							<f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>	
	       					</f:if>
	       					<f:if condition="{mediaElement.originalResource.type} == 4">
	       						<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>				
	       					</f:if>
	       					<f:if condition="{mediaElement.originalResource.type} == 5">
	       						<f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
	       					</f:if>			
	       				</f:alias>
	       			</n:link>
				</div>
        		</f:then>
            </f:if>

    	<div class="teasertext col-8">
			<p>
               	<f:if condition="{settings.itemcategory}">
               		{f:if(condition: newsItem.firstCategory.title, then: '<span class="d-block mb-1">{newsItem.firstCategory.title}</span>')}
                </f:if>
				<strong>
		            <f:if condition="{newsItem.nomore}">
			            <f:then>
			            	{newsItem.title}
			            </f:then>
			        	<f:else>
			           		<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">{newsItem.title}</n:link>
			        	</f:else>
		        	</f:if>		   					
				</strong>
			</p>
    		<n:removeMediaTags>

	    		<f:if condition="{newsItem.teaser}">	
	    			<f:then>	
		    			<f:if condition="{settings.itemdate}">
		    				<span class="teaserDate d-block mt-1 mb-2">
				        		<time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
									<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date> 
									<meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
				    			</time>
		    				</span>
		                </f:if>
	                    <div itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
	                </f:then>
	                <f:else>
		    			<f:if condition="{settings.itemdate}">
		    				<span class="teaserDate d-block mt-1 mb-2">
				        		<time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
									<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date> 
									<meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
				    			</time>
		    				</span>
		                </f:if>		    			   
	                    <div itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
	                </f:else>
	            </f:if>
	            
	            <f:if condition="{newsItem.nomore}">
		            <f:then></f:then>
		        	<f:else>
	                    <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
		                  	<f:if condition="{settings.itemdetail}">
		                      <span class="moreNews">
		                      	<f:translate key="LLL:EXT:t3up_news/Resources/Private/Language/locallang.xlf:detail.title" />
		                      </span>
		                    </f:if>   
	                    </n:link>
		        	</f:else>
	        	</f:if>
	        	
    		</n:removeMediaTags>
     	</div>

    </div>
</html>