<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Wall.html
-->
	<div class="teaser article {f:if(condition: newsItem.istopnews, then: ' largewall', else: ' smallwall')} {newsItem.firstCategory.title}" itemscope="itemscope" itemtype="https://schema.org/Article">
	<n:excludeDisplayedNews newsItem="{newsItem}"/>
		<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}" additionalAttributes="{itemprop:'url'}">	
			<div class="Item p-3">
				<span class="wall-category d-block">{newsItem.firstCategory.title}</span>
				<span class="wall-headline d-block" itemprop="headline">{newsItem.title}</span>
				<f:if condition="{newsItem.isEvent}">
					<f:then>
						<f:format.date format="%a. %d.%m" >{newsItem.datetime}</f:format.date>  - <f:format.date format="%a. %d.%m" >{newsItem.eventEnd}</f:format.date> 
					</f:then>
					<f:else>
						<f:format.date format="%a. %d.%m" >{newsItem.datetime}</f:format.date> 
					</f:else>      	
				</f:if>
				<f:if condition="{newsItem.teaser}">
					<span class="wall-teaser d-block" > {newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</span>
				</f:if>	
			</div>
			<f:if condition="{newsItem.mediaPreviews}">
				<!-- media preview element -->
				<f:then>
					<div class="wall-img-wrap h-100">
						<f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
							<f:if condition="{mediaElement.originalResource.type} == 2">
								<f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" loading="{settings.list.media.image.lazyLoading}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
							</f:if>
						</f:alias>		
					</div>
				</f:then>
			</f:if>
		</n:link>
	</div>
</html>
